font-face {
    font-family: 'Sedgwick_ad';
    src: url('http://localhost/EPIM_ESKALABER_A/public/fonts/Sedgwick_Ave_Display/SedgwickAveDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Ubuntu_bold';
    src: url('http://localhost/EPIM_ESKALABER_A/public/fonts/Ubuntu/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: 'Ubuntu_regular';
    src: url('http://localhost/EPIM_ESKALABER_A/public/fonts/Ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Ubuntu_light';
    src: url('http://localhost/EPIM_ESKALABER_A/public/fonts/Ubuntu/Ubuntu-Light.ttf');
}
@font-face {
    font-family: 'Irish_gv';
    src: url('http://localhost/EPIM_ESKALABER_A/public/fonts/Irish_Grover/IrishGrover-Regular.ttf');
}
@font-face {
    font-family: 'Jockey_one';
    src: url('http://localhost/EPIM_ESKALABER_A/public/fonts/Jockey_One/JockeyOne-Regular.ttf');
}

body{
    margin: 0;
    padding: 6rem;
    background-image: url('http://localhost/EPIM_ESKALABER_A/public/images/bgcontactForm.png');
   background-size: cover;
   display: flex;
   justify-content: center;
}

.bg{
    background-image: url('http://localhost/EPIM_ESKALABER_A/public/images/bg-contact.png');
    width: 1252px;
    height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Jockey_one';
    color: #fff;
    font-size: 5rem;
}

.input-box {
    width: 45rem;
    height: 50px;
    border-bottom: 2px solid white;
    margin-top: 4rem;
    position: relative;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    color: #a4a4a4;
    font-size: 24px;
    font-family: 'Ubuntu_light';
}


.input-box label {
    position: absolute;
    bottom: 1rem;
    font-family: 'Ubuntu_regular';
    font-size: 25px;
    pointer-events: none;
    transition: .3s ease;
    color: white;
}


.input-box input:focus + label,
.input-box input:focus + label :not(:placeholder-shown) + label {
    bottom: 40px;
};

.btn {
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
    margin-top: 6rem;
    width: 230px;
    height: 60px;
    background-color: #fff;
    box-shadow: 5px 5px 0 0 #ebd6d6;
    outline: none;
    border: none;
    font-family: 'Irish_gv';
    font-size: 32px;
    transition: .3s ease;
}